.flex.items-center.justify-end.gap-2
  - req_params = request.query_parameters.compact_blank

  = raw_link_to url_for(params: req_params.merge(display: :grid)),
                data: { turbo_stream: true },
                class: "btn btn-sm gap-2 #{'btn-info' if directories_as_grid?}",
                title: t('display_grid'),
                hotkey: 'shift+g',
                size: 'xs' do
    = lucide_icon 'grid-3x3'
    span.lg:hidden= t('display_grid')

  = raw_link_to url_for(params: req_params.merge(display: :table)),
                data: { turbo_stream: true },
                class: "btn btn-sm gap-2 #{'btn-info' unless directories_as_grid?}",
                title: t('display_table'),
                hotkey: 'shift+t',
                size: 'xs' do
    = lucide_icon 'rows-3'
    span.lg:hidden= t('display_table')

- if directories.any?
  - if directories_as_grid?
    .grid.gap-2.lg:gap-3 class="@md:grid-cols-2 @3xl:grid-cols-3 @6xl:grid-cols-4"
      = render directories
  - else
    .overflow-x-auto
      table.table.table-zebra.lg:table-fixed
        thead
          tr
            td class="w-[300px]"
              = Directory.human_attribute_name(:name)
            td= CoinWallet.model_name.human.capitalize
            td= DeliveryZone.model_name.human.capitalize
            td= Comment.model_name.human.capitalize
            td= ContactWay.model_name.human.capitalize
            td= t('link')
        tbody
          - directories.each do |directory|
            = render 'directory_table_row', directory: directory

  = render 'pagination', pagy: pagy

- else
  .flex.flex-col.items-center.justify-center.gap-3.text-base-content/60.py-10
    = lucide_icon 'notebook', class: 'w-40 h-auto'
    p.text-lg= t('empty_results')
