article data-controller="directories" data-directories-autocomplete-url-value= addresses_search_path
  header.hero.bg-fixed.bg-banner-directories
    .hero-overlay
    .hero-content.hero-content-main.text-center
      .max-w-3xl.space-y-6
        section.space-y-3
          h1.text-3xl.font-bold= t('application.header.directories')

          - if authenticated? && allowed_to?(:index?, Directory, namespace: Admin)
            = edit_link_to admin_directories_path, hotkey: true

          div
            p.italic
              = t('.headline_directory_explanation')
            p.italic
              - link = raw_link_to maps_path, class: 'btn btn-secondary btn-xs', hotkey: 'm', size: 'xs' do
                = lucide_icon 'map', class: 'w-4'
                = t('.physical_merchants')
              = t('.headline_directory_physical_merchants_html', link: link)

        - if @directories_spotlight.any?
          .divider.w-1/2.mx-auto

          section.space-y-3
            p.font-bold
              = t('spotlight')
              = lucide_icon('star', class: 'inline-flex ml-2 stroke-yellow-500 fill-yellow-500')

            .grid.grid-cols-2.lg:grid-cols-4.gap-3
              - @directories_spotlight.each do |spotlight|
                = link_to directory_path(spotlight), class: 'btn btn-primary' do
                  - if spotlight.logo.attached?
                    = image_tag url_for(spotlight.logo), class: 'bg-white w-8 h-8 rounded-full object-cover', alt: "Logo #{spotlight.name}"
                  span.truncate= spotlight.name

  .flex.flex-col.lg:flex-row.gap-2.lg:gap-3.justify-center
    .space-y-3.p-3.lg:basis-1/4
      = raw_link_to new_directory_path,
                    hotkey: 'a',
                    class: 'btn btn-success w-full' do
        = lucide_icon 'notebook', class: 'w-5'
        =< t('.new_entry_title')

      = render 'filters', pagy: @pagy

    #directories.space-y-3.p-3.lg:basis-3/4.scroll-mt-8 class="@container"
      = render 'directories', directories: @directories, pagy: @pagy

- if @faqs.any?
  = render template: 'faqs/show'
