article
  header.hero.bg-fixed.bg-banner-directories
    .hero-overlay
    .hero-content.hero-content-main.text-center.py-20
      .max-w-xl.space-y-5
        h1.text-3xl.font-bold= t('.title')

        p.highlight-link= t('.introduction_html')

  .article-body.max-w-5xl
    = render 'breadcrumb'

    .alert.alert-info
      - link = link_to t('.merchant_proposal_link'), new_merchant_proposal_path
      p= t('.online_shop_notice_html', link: link)

    = render 'form', directory: @directory

- if @faqs.any?
  = render template: 'faqs/show'
