- coin_wallets = @directory.coin_wallets.enabled
- contact_ways = ContactWayDecorator.wrap(@directory.contact_ways.enabled)
- delivery_zones = @directory.delivery_zones.enabled
- weblinks = WeblinkDecorator.wrap(@directory.weblinks.enabled)

article
  .hero.bg-fixed.bg-no-repeat.bg-top.relative style=("background-image: url(#{rails_blob_path(@directory.banner.variant(:thumb))})" if @directory.banner.attached?) class=(@directory.banner.attached? ? 'bg-cover lg:bg-contain' : 'bg-banner-default')
    .absolute.top-3.right-3
      - if authenticated?
        button.btn.btn-square(
          role="button"
          tabindex="0"
          aria-label="Menu for directory"
          popovertarget="popover-directory"
          style="anchor-name:--anchor-directory"
        )
          = lucide_icon 'ellipsis-vertical', class: 'w-6'

        ul.dropdown.dropdown-end.menu.bg-base-100.rounded-box.z-1.w-max.p-2.shadow-sm.border.border-base-content/20.space-y-2 tabindex="0" popover="" id="popover-directory" style="position-anchor:--anchor-directory"
          - if allowed_to?(:update?, @directory, namespace: Admin)
            li
              = edit_link_to edit_admin_directory_path(@directory), hotkey: true

          - if allowed_to?(:destroy?, @directory, namespace: Admin)
            li
              = destroy_link_to admin_directory_path(@directory),
                                turbo_confirm: t('admin.directories.actions.destroy_confirm')
    .hero-overlay
    .hero-content.hero-content-main
      header.max-w-xl
        .text-center.space-y-6
          = render 'logo_or_initials', model: @directory, mode: :extra_large

          h1.text-3xl.font-bold= @directory.name

          - if @directory.category.present?
            .badge.mx-auto.badge-secondary
              = t(@directory.category, scope: :directories_categories)

          - if coin_wallets
            .flex.items-center.justify-center.gap-3
              - coin_wallets.each do |coin_wallet|
                = image_tag icon_by_coin(coin_wallet.coin), title: coin_wallet.coin.capitalize, class: 'w-10 h-10 hover:scale-110 motion-safe:transition-transform'

  .article-body.max-w-5xl class="space-y-8!"
    = render 'breadcrumb'

    - if @directory.description?
      div
        h2.text-primary.uppercase.mb-2= t('description')

        .space-y-3
          = simple_format(@directory.description)

    - if @directory.address
      div
        h2.text-primary.uppercase.mb-2= t('address')

        = @directory.address.label

    - if coin_wallets.any?
      div
        h2.text-primary.uppercase.mb-2= Directory.human_attribute_name(:coins)

        .flex.flex-col.lg:flex-row.items-center.gap-3
          - coin_wallets.each do |coin_wallet|
            .card.bg-base-200
              .card-body.space-y-4.justify-between
                = image_tag icon_by_coin(coin_wallet.coin),
                            class: 'w-20 h-20 mx-auto hover:scale-110 motion-safe:transition-transform',
                            title: "#{coin_wallet.coin.capitalize}"
                .card-title.justify-center.text-base
                  = coin_wallet.coin.capitalize

                - if coin_wallet.qrcodable?
                  = link_to coin_link_address_with_protocol(coin_wallet.coin, coin_wallet.public_address) do
                    .badge.badge-primary title=coin_wallet.public_address
                      = coin_wallet.public_address_reduced

                  .flex.items-center.justify-center.gap-5
                    = render 'copy_to_clipboard',
                            clipboard_value: coin_wallet.public_address,
                            clipboard_success_text_value: nil,
                            attr_title: nil

                    = link_to coin_wallet, data: { turbo_stream: true }, title: 'QRcode' do
                      = lucide_icon('qr-code')

    - if delivery_zones.any?
      div
        h2.text-primary.uppercase.mb-2
          = DeliveryZone.model_name.human.capitalize
          =< lucide_icon 'truck', class: 'inline-flex w-5'

        .alert.alert-vertical.overflow-y-auto.space-y-3
          - delivery_zones.group_by(&:mode).each do |group|
            - mode = group.first
            - rows = group.last

            div
              h3.text-primary.font-semibold.mb-1
                = DeliveryZone.human_enum_name(:mode, mode)

              - if rows.count > 1
                ul.list-disc.list-inside
                  - rows.each do |row|
                    li
                      = render 'delivery_zones/formatted_zone_by_mode', delivery_zone: row
              - elsif rows.count > 0
                - row = rows.first
                = render 'delivery_zones/formatted_zone_by_mode', delivery_zone: row

    - if contact_ways.any?
      div
        h2.text-primary.uppercase.mb-2= t('contact')

        .alert.alert-vertical.overflow-y-auto
          - contact_ways.each do |contact_way|
            .flex.items-center.gap-2
              = social_contact_icon(contact_way.role)

              - if contact_way.email?
                = mail_to contact_way.value, contact_way.value
              - elsif contact_way.phone?
                = phone_to contact_way.value, contact_way.value
              - elsif contact_way.session? || contact_way.signal?
                = contact_way.value
              - else
                = link_to clean_url(contact_way.value).truncate(50), contact_way.value, target: :_blank

    - if weblinks.any?
      div
        h2.text-primary.uppercase.mb-2= Weblink.model_name.human

        .alert.overflow-y-auto
          - if weblinks.count > 1
            ul.list-disc.list-inside
              - weblinks.each do |weblink|
                li
                  = link_to weblink.url, target: :_blank do
                    = weblink.title.presence || clean_url(weblink.url)
          - else
            - weblink = weblinks.first
            = link_to weblink.url, target: :_blank do
              = weblink.title.presence || clean_url(weblink.url)

    - if allowed_to?(:index?, Comment)
      = turbo_frame_tag :comments_wrapper, src: directory_comments_path(@directory), loading: :lazy do
        .text-center
          .loading.loading-spinner.loading-3xl.text-primary

    .italic
      p title=l(@directory.created_at)
        = t('added_on', date: time_ago_in_words(@directory.created_at))
      - if @directory.updated_at.to_date != @directory.created_at.to_date
        p title=l(@directory.updated_at)
          = t('updated_on', date: time_ago_in_words(@directory.updated_at))

  script type="application/ld+json"
    == schema_dot_org_directory(@directory)

- if @faqs.any?
  = render template: 'faqs/show'
