@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark-bankexit], [data-theme=dark-bankexit] *));

@theme {
    --map-road-color: #3388ff;
}

@plugin "./daisyui.js" {
    themes: false;
}

@plugin "./daisyui-theme.js" {
    name: "light";
    --color-neutral: var(--color-base-300);
    --color-neutral-content: oklch(32% 0 0);
    --color-primary: oklch(72.772% 0.149 33.2);
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(61.302% 0.202 261.294);
    --color-secondary-content: oklch(100% 0 0);
    --color-info: oklch(93.2% 0.032 255.585);
    --color-info-content: oklch(42.4% 0.199 265.638);
    --color-success: oklch(96.2% 0.044 156.743);
    --color-success-content: oklch(44.8% 0.119 151.328);
    --color-warning: oklch(95.4% 0.038 75.164);
    --color-warning-content: oklch(47% 0.157 37.304);
    --color-error: oklch(93.6% 0.032 17.717);
    --color-error-content: oklch(44.4% 0.177 26.899);
}

@plugin "./daisyui-theme.js" {
    name: "dark-bankexit";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(30.857% 0.023 264.149);
    --color-base-200: oklch(28.036% 0.019 264.182);
    --color-base-300: oklch(26.346% 0.018 262.177);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(73.375% 0.165 35.353);
    --color-primary-content: oklch(14.675% 0.033 35.353);
    --color-secondary: oklch(86.133% 0.141 139.549);
    --color-secondary-content: oklch(17.226% 0.028 139.549);
    --color-accent: oklch(65% 0.241 354.308);
    --color-accent-content: oklch(97% 0.014 343.198);
    --color-neutral: oklch(50% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(39.6% 0.141 25.723);
    --color-error-content: oklch(80.8% 0.114 19.571);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

@utility fieldset-legend {
    @apply cursor-pointer;
    padding-block: 0;
    margin-bottom: 0;
}

@utility hero-content {
    @apply py-10 lg:py-16;
}

@utility modal-box {
    @apply bg-base-100/99 border border-base-content/20 max-w-3xl;
}

@utility btn-link {
    @apply !gap-0;
}

@utility card {
    &.image-full {
        > .card-body {
            color: light-dark(
                var(--color-base-100),
                var(--color-neutral-content)
            );
        }
        > figure img {
            filter: brightness(0.6) blur(3px);
        }
    }
}

@layer components {
    .absolute-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
}

a {
    @apply transition-colors;
}

a:not(.btn, .badge):hover,
.panel-success a,
.panel-info a,
.highlight-link a {
    color: var(--color-primary);
}

p a[target="_blank"]:after,
.admin a[target="_blank"]:after,
.panel a[target="_blank"]:after {
    content: " ";
    display: inline-block;
    background-color: var(--color-primary) !important;
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNxdWFyZS1hcnJvdy1vdXQtdXAtcmlnaHQtaWNvbiBsdWNpZGUtc3F1YXJlLWFycm93LW91dC11cC1yaWdodCI+PHBhdGggZD0iTTIxIDEzdjZhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWNWEyIDIgMCAwIDEgMi0yaDYiLz48cGF0aCBkPSJtMjEgMy05IDkiLz48cGF0aCBkPSJNMTUgM2g2djYiLz48L3N2Zz4=);
    background-size: contain;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    @apply scale-50 transition-colors;
}

p a[target="_blank"]:after,
.admin a[target="_blank"]:after,
.panel-base-100 a[target="_blank"]:after,
.panel-base-200 a[target="_blank"]:after,
.panel-base-300 a[target="_blank"]:after {
    background-color: var(--color-base-content);
}

p a[target="_blank"]:hover:after,
.admin a[target="_blank"]:hover:after,
.panel-base-100 a[target="_blank"]:hover:after,
.panel-base-200 a[target="_blank"]:hover:after,
.panel-base-300 a[target="_blank"]:hover:after {
    background-color: var(--color-primary);
}

mark {
    @apply border bg-yellow-100 text-yellow-800 border-yellow-200 dark:bg-yellow-900 dark:text-yellow-300 dark:border-yellow-500;
}

@media print {
    #map {
        page-break-before: always;
    }
}

abbr[title] {
    @apply no-underline lg:underline lg:decoration-dotted after:content-["_["_attr(title)_"]"] lg:after:content-[""];
}

#faq a,
#article a:not(.btn) {
    @apply underline decoration-dotted;
}

.article-body {
    @apply mx-auto space-y-5 py-5 px-5 lg:px-0;
}

[disabled] {
    @apply border-base-content/20;
}

#flashes {
    @apply space-y-2;
}

[data-theme="dark-bankexit"] .chart canvas {
    @apply bg-white rounded-lg p-3;
}
