.hero.bg-fixed.bg-banner-open-source
  .hero-overlay
  .hero-content class=('hero-content-main' if params[:controller] == 'faqs')
    .max-w-5xl.space-y-8
      header.text-center.space-y-5
        h2.text-3xl.font-bold= t('.title')
        p.text-lg= t('.headline')

      #faq.mb-3.space-y-2
        = render @faqs

      - if @minimal_faq
        p.text-center.lg:text-right
          = link_to t('.button_cta'), faq_path, class: 'btn btn-primary'

  script type="application/ld+json"
    == schema_dot_org_faq(@faqs)
