article
  header.hero.bg-fixed.bg-banner-library
    .hero-overlay
    .hero-content.hero-content-main
      .max-w-5xl
        .text-center.space-y-6
          h1.text-3xl.font-bold= t('.title')

  .article-body.max-w-5xl class="space-y-10!"
    nav.text-center.space-x-2
      - @glossaries.keys.each do |letter|
        = link_to letter, "##{letter}", class: 'badge badge-soft badge-primary hover:badge-secondary badge-xl'

    - @glossaries.each do |letter, glossaries|
      section.space-y-3.before:block.before:h-24.before:-mt-24 id=letter
        = link_to letter, "##{letter}", class: 'badge badge-soft badge-primary hover:badge-secondary badge-xl'

        .space-y-3
          - glossaries.each do |glossary|
            article.alert.alert-vertical id=glossary.acronym
              header.border-b.border-dotted.pb-2
                = link_to "##{glossary.acronym}" do
                  h3.text-lg.font-bold
                    = glossary.acronym
                    - if glossary.original_full_title
                      |<> -
                      = glossary.original_full_title
                - if glossary.translated_full_title
                  h4.font-semibold.italic<
                    | [
                    = glossary.translated_full_title
                    | ]

              div
                = simple_format glossary.description.join("\n")
