.space-y-3
  .flex.items-center.justify-between
    .flex.items-center.gap-2
      h2#comments_count.uppercase.font-bold.text-primary
        = commentable.comments_count
        =< Comment.model_name.human(count: commentable.comments_count)

    - if allowed_to?(:create?, Comment)
      = add_link_to new_polymorphic_path([commentable, Comment.new]),
                    data: { turbo_stream: true },
                    hotkey: 'c' do
        = lucide_icon 'message-square', class: 'w-4 inline-flex'
        = t('add')

  .alert.alert-warning.text-xs
    = lucide_icon 'triangle-alert', class: 'w-5'
    div
      - if commentable.is_a?(MerchantDecorator)
        p
          - testimony_form_link = link_to new_merchant_report_path(commentable),
                    title: t('merchants.show.report_a_fault.title'),
                    data: { turbo_stream: true }, class: 'font-bold underline decoration-dotted' do
            = t('.other_form')
          =< t('.comment_as_testimony_only_html', link: testimony_form_link)

      p.mt-1= t('.comments_no_moderation')

  .space-y-3
    #comments.space-y-2
      = render comments if comments.any?

    = render 'pagination', pagy: pagy

  - if comments.empty?
    #empty_comments.alert.alert-success.alert-sm
      p= t('.no_comment_yet')
