article
  header.hero.bg-fixed class=(article.banner ? "bg-#{article.banner}" : 'bg-banner-default')
    .hero-overlay
    .hero-content.hero-content-main.text-center
      .max-w-5xl.space-y-8
        h1.text-3xl.font-bold= article.title

        - if article.author?
          p.badge.badge-secondary
            = t('by')
            span.font-bold=< article.author

        - if article.created_at.present?
          time.block datetime=article.created_at
            = l(article.created_at)

        = yield :header_actions

        p
          - if article.level?
            span.badge.inline-block class=tutorial_class_by_level(article.level)
              = t(".#{article.level}")

          - if article.time?
            span.inline-block.badge.badge-neutral.ml-2 title="#{article.time}'"
              =< distance_of_time_in_words(article.time.minutes)

        = yield :outdated_content

        - if article.missing_content_for_locale?
          p.alert.alert-warning= t('missing_content_for_locale')

  section.max-w-5xl.mx-auto.p-5.space-y-8
    .space-y-6
      = render 'breadcrumb'

      = yield :coins
      = yield

    = article.render_template

  = yield :footer_actions
