.drawer-side
  label.drawer-overlay for="sidebarDrawer" aria-label="close sidebar"

  .bg-base-100.min-h-full.w-80.border-r-2.border-primary.p-4.flex.flex-col.justify-between
    .space-y-2
      = link_to admin_dashboard_path, class: 'block' do
        = image_tag logo_by_locale, class: 'w-32 mx-auto'

        .text-center
          p.text-xl.font-bold= t('.title')
          p= t('.subtitle')

      .absolute.top-1.right-1.bg-base-200/80.rounded-box.border.border-base-content/20.px-2.py-1
        = render 'language_switcher'

      ul.menu.bg-base-200.border.border-base-content/20.rounded-lg.w-full.items-center.space-y-2
        li
          = raw_link_to admin_dashboard_path,
                        class: ('menu-active' if params[:controller] == 'admin/dashboards'),
                        hotkey: 'j' do
            = t('admin.dashboards.show.title')

        li
          = raw_link_to admin_merchants_path,
                        class: ('menu-active' if params[:controller].in?(['admin/merchants', 'admin/merchant_syncs'])),
                        hotkey: 'm' do
            - if Merchant.deleted.any?
              span> title=t('.merchants_disabled')
                = lucide_icon 'triangle-alert', class: 'w-4 text-warning'
            = Merchant.model_name.human(count: 2).capitalize

        li
          = raw_link_to admin_directories_path,
                        class: ('menu-active' if params[:controller] == 'admin/directories'),
                        hotkey: 'd' do
            = Directory.model_name.human(count: 2).capitalize

        - if allowed_to?(:index?, Comment)
          li
            = raw_link_to admin_comments_path,
                          class: ('menu-active' if params[:controller] == 'admin/comments'),
                          hotkey: 'c' do
              - if Comment.flagged.any?
                span> title=t('.comments_disabled')
                  = lucide_icon 'triangle-alert', class: 'w-4 text-warning'
              = Comment.model_name.human(count: 2).capitalize

        - if allowed_to?(:index?, Announcement)
          li
            = raw_link_to admin_announcements_path,
                          class: ('menu-active' if params[:controller] == 'admin/announcements'),
                          hotkey: 'i' do
              = Announcement.model_name.human(count: 2).capitalize

        - if allowed_to?(:index?, User)
          li
            = raw_link_to admin_users_path,
                          class: ('menu-active' if params[:controller] == 'admin/users'),
                          hotkey: 'u' do
              = User.model_name.human(count: 2).capitalize

        - if allowed_to?(:index?, EcosystemItem)
          li
            = raw_link_to admin_ecosystem_items_path,
                          class: ('menu-active' if params[:controller] == 'admin/ecosystem_items'),
                          hotkey: 'x' do
              = t('.monero_ecosystem')

        - if allowed_to?(:index?, APIToken)
          li
            = raw_link_to admin_api_tokens_path,
                          class: ('menu-active' if params[:controller] == 'admin/api_tokens'),
                          hotkey: 'k' do
              = APIToken.model_name.human(count: 2).upcase_first

        - if allowed_to?(:mission_control?, User)
          li
            = raw_link_to admin_mission_control_jobs_path,
                          target: :_blank,
                          hotkey: 'w' do
              | Mission Control Jobs

        - if allowed_to?(:analytics?, User)
          li
            = raw_link_to admin_active_analytics_path,
                          target: :_blank,
                          hotkey: 'y' do
              | Analytics

        li
          = raw_link_to 'https://bank-exit-uptime-production.up.railway.app',
                        target: :_blank,
                        hotkey: 'z' do
            | Uptime Kuma

      = render 'theme_switcher'

    - color = color_for_role(current_user.role)

    .space-y-2
      = render 'admin/pretender_message' if true_user != current_user

      details.dropdown.dropdown-top.dropdown-center.w-full
        summary.btn.btn-block.py-7 class="btn-#{color}"
          p
            = current_user.email_address
            br
            small= User.human_enum_name(:role, current_user.role)

        .dropdown-content.bg-base-200.rounded-box.z-1.shadow-sm.border.border-base-content/20.w-full
          ul.menu.space-y-2.w-full.text-center
            li
              = back_link_to root_path, label: t('.back_to_home'), hotkey: false
            li
              = back_link_to maps_path, label: t('.back_to_map'), hotkey: false
            li
              = back_link_to directories_path, label: t('.back_to_directory'), hotkey: false
            li
              = link_to t('.edit_my_profile'), edit_admin_profile_path

            li
              = link_to t('logout'),
                        session_path,
                        data: { turbo_method: :delete },
                        class: 'text-error'
