- local_assigns.with_defaults(map_class: "") => { map_class: }

#map.w-full.z-0.relative(
  class="h-[600px] md:h-full #{map_class}"
  data-controller="map"
  data-map-zoom-value=@zoom
  data-map-latitude-value=@latitude
  data-map-longitude-value=@longitude
  data-map-track-geolocation-in-url-value=(defined?(from_welcome) && from_welcome ? 'false' : 'true')
  data-map-fetch-markers-url-value=map_fetch_markers_path
  data-map-referer-url-value=maps_referer_url
  data-action="map--options:toggleFitBounds@window->map#toggleFitBounds map--options:toggleGestureHandling@window->map#toggleGestureHandling"
  data-map-attribution-html-value=html_escape_once(map_attribution_html)
)
  .absolute.inset-0 class="z-[999]" data-map-target="loader"
    = render 'maps/loader'
