#merchants_results.relative.w-full.h-full.lg:w-2/3.px-3.py-3.space-y-3.scroll-mt-20
  - if merchants.any?
    - if merchants_as_table?
      .overflow-x-auto
        table.table.table-zebra.lg:table-fixed.w-max.min-w-full.lg:w-auto
          thead
            tr
              td= Merchant.human_attribute_name(:logo)
              td= Merchant.human_attribute_name(:name)
              td= Merchant.human_attribute_name(:category)
              td= Merchant.human_attribute_name(:country)
              td= Merchant.human_attribute_name(:coins)
              td= Merchant.human_attribute_name(:contact)
              td= t('actions')
          tbody
            - merchants.each do |merchant|
              = render 'merchants_table_row', merchant: merchant

    - elsif merchants_as_grid?
      .grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.gap-3
        = render merchants

    = render 'pagination', pagy: pagy,
                           use_turbo_stream: true,
                           add_page_to_url: true,
                           scroll_top: true

  - else
    .flex.flex-col.items-center.justify-center.gap-3.text-base-content/60.py-10
      = lucide_icon 'store', class: 'w-40 h-auto'
      p.text-lg= t('empty_results')
