ruby:
  list = Set.new
  coins_list.each do |coin|
    list << "Bitcoin (₿)" if coin == 'bitcoin'
    list << "Bitcoin Lightning (⚡)" if coin == 'lightning' || coin == 'lightning_contactless'
    list << "Monero (🔒)" if coin == 'monero'
    list << "June (🟡)" if coin == 'june'
  end

| Discover **#{merchants_count}** newly listed #{list.join(', ')} #{'merchant'.pluralize(merchants_count)} now featured on the [Bank-Exit](#{maps_url}) map.
= "\n"

- merchants_by_country.each do |country, merchants|
  | ### #{pretty_country_html(country)}
  = "\n"

  - merchants.each do |merchant|
    - category = merchant.category.blank? || merchant.category == 'yes' ? '' : " (#{merchant.friendly_category})"
    | - **[#{merchant.name}](#{merchant_url(merchant)})**#{category}
    ruby:
      merchant_coins_list = []
      merchant_coins_list << '₿ Bitcoin' if merchant.bitcoin?
      merchant_coins_list << '🔒 Monero' if merchant.monero?
      merchant_coins_list << '🟡 June' if merchant.june?
      merchant_coins_list << '⚡ Lightning' if merchant.lightning? || merchant.contact_less?
    |< #{merchant_coins_list.join(', ')}
    = "\n"
  = "\n"

= "\n"
| ---
= "\n"

| _Merchants are based on free and open data from OpenStreetMap. Information may change over time and could differ from what is shown here, with some links potentially no longer existing._
