p Bonjour,

p Voici le backup des fichiers JSON et GeoJSON provenant de l'API Overpass en date du #{l(@time)}.

p Bonne réception !

p style="font-size: 12px; font-style: italic"
  | Ce message a été auto-généré par Rails, merci de ne pas y répondre
