.flex.flex-col.lg:flex-row
  .lg:w-1/3.overflow-y-auto class="lg:h-[calc(100vh-96px)]"
    .flex.items-center.justify-between.bg-base-200.px-2.pt-4.pb-3.print:hidden
      p.font-bold.uppercase.text-sm
        = @merchant.name

      = link_to merchant_path(@merchant), title: t('.back_to_merchant') do
        = lucide_icon 'x'

    article.p-3.space-y-4
      header
        p.uppercase.font-bold
          = t('.title')
          = lucide_icon 'car', class: 'inline-flex ml-2'

      = simple_form_for :itinerary,
                        url: merchant_itinerary_path(@merchant),
                        html: { \
                          class: 'flex flex-col gap-5 justify-between mt-2',
                          data: { \
                            controller: :address,
                            address_search_url_value: addresses_search_path,
                            action: 'turbo:submit-start->address#disableInputs turbo:submit-end->address#enableInputs' \
                          } \
                        } do |f|

        div
          p.mb-2.uppercase.font-bold.text-primary
            = t('.start_address')

          = f.input :my_address,
                    required: false,
                    label_html: { class: 'mb-2' },
                    wrapper_html: { class: 'auto-search-wrapper mb-2' },
                    input_html: { \
                      data: { \
                        address_target: :input,
                      } \
                    }

          = f.input :use_my_ip, as: :boolean,
                    input_html: { \
                      data: { \
                        address_target: :ip,
                        action: 'change->address#toggleInputAddress' \
                      } \
                    }

        = lucide_icon 'move-left', class: 'mx-auto w-8 h-8 -rotate-90 bg-primary text-primary-content rounded-full p-1'

        div
          p.mb-2.uppercase.font-bold.text-primary
            = t('.end_address')

          .font-bold= @merchant.name
          = @merchant.full_address if @merchant.full_address

          hr.my-2

          = f.input :detailed_steps, as: :boolean,
                    input_html: { \
                      data: { \
                        address_target: 'detailedSteps',
                        action: 'change->address#rememberDetailedStepsChoice' \
                      } \
                    }

        = f.button :submit, t('search'),
                    class: 'btn btn-success',
                    data: { \
                      address_target: :submit, turbo_submits_with: '...' \
                    }

      #map_details

  = render 'merchants/map', merchant: @merchant
