- width = defined?(map_width) ? map_width : 'w-full lg:w-2/3'
- height = defined?(map_height) ? map_height : "h-[500px] #{map_css_height}"

#map.z-0 class="#{width} #{height} print:w-full print:h-[500px]" data-controller="map--item" data-map--item-merchant-value=merchant.to_osm_map.to_json data-map--item-attribution-html-value=html_escape_once(map_attribution_html)
