#map.w-full.lg:w-2/3.z-0 class="h-[500px] lg:h-[calc(100vh-96px)] print:w-full print:h-[500px]" data-controller="map--item" data-map--item-merchant-value=merchant.to_osm_map.to_json data-map--item-attribution-html-value=html_escape_once(map_attribution_html)
