- link_klass = "block p-4 space-y-3 border-l-4 hover:border-l-primary hover:text-inherit! focus-visible:outline-none focus-visible:border-l-primary"

.border.border-base-content/20.rounded-box.divide-y.divide-base-content/20 data-command-palette-target="results"
  ul.overflow-y-auto.bg-base-100.rounded-t-box.text-sm.divide-y.divide-base-content/20.motion-safe:scroll-smooth.scroll-py-2 class="max-h-[60svh]"
    - if defined?(directories_spotlight) && directories_spotlight.any?
      - directories_spotlight.first(3).each do |directory|
        li
          = link_to directory_path(directory), class: "#{link_klass} border-l-secondary" do
            .flex.items-center.justify-between
              .flex.items-center.gap-2.font-medium.text-base
                = render 'logo_or_initials', model: directory, mode: :small

                h3= directory.name

                = lucide_icon 'star', class: 'stroke-yellow-500 fill-yellow-500 w-4'

              == coins_list(directory.coin_wallets.map(&:coin), with_logo: true, with_name: false, size: 'w-5', inline: true)

            - if directory.description.present?
              .truncate.text-sm.mt-2
                = directory.description

    - merchants.each do |merchant|
      li
        = link_to merchant_path(merchant), class: "#{link_klass} border-l-transparent" do
          .flex.items-center.justify-between
            .flex.items-center.gap-2.font-medium.text-base
              = render 'logo_or_initials', model: merchant, mode: :small

              div
                p.flex.items-center.gap-2
                  span
                    = highlight(merchant.name, params[:query])

                  - outdated_level = merchant.outdated_level
                  - icon_class = 'w-3.5 h-3.5'

                  - if outdated_level == :unknown
                    = lucide_icon 'shield-question-mark', class: 'w-3.5 h-3.5'

                  - else
                    - if outdated_level == :soft
                      = lucide_icon 'check-check', class: "#{icon_class} text-success"
                    - elsif outdated_level == :medium
                        = lucide_icon 'triangle-alert', class: "#{icon_class} text-warning"
                    - elsif outdated_level == :hard
                        = lucide_icon 'triangle-alert', class: "#{icon_class} text-error"


                p.italic.text-xs.text-base-content/70
                  = highlight(merchant.full_address_with_country(expanded: false, inline: true), params[:query])

            == coins_list(merchant.coins, with_logo: true, with_name: false, size: 'w-5', inline: true)

          - if merchant.description.present?
            .text-sm.truncate
              = highlight(merchant.description, params[:query])

    - if merchants.empty?
      li.p-3.text-center= t('empty_results')

  - if defined?(pagy) && pagy.count > pagy.limit
    .bg-base-100.p-2 data-controller="pagination"
      == pagy_nav(pagy, anchor_string: 'data-turbo-stream="true"')

  footer.bg-base-200.p-2.text-sm.rounded-b-box.space-y-2.flex.items-center.justify-between
    p.flex.items-center.gap-2.mb-0
      span.inline-block.w-1.h-3.bg-secondary.rounded-box
      = Directory.model_name.human.capitalize
    p.hidden.lg:flex.items-center.gap-2
      span
        kbd.kbd.kbd-sm Tab
        =< t('or')
        kbd.kbd.kbd-sm< ▲
        kbd.kbd.kbd-sm< ▼
        =< t('.to_navigate')

      span
        kbd.kbd.kbd-sm Esc
        =< t('.to_close_modal')
