@layer components {
    .table-of-contents {
        @apply inline-block bg-base-200 rounded-box;

        .toc-title {
            @apply mb-3 font-bold uppercase tracking-wide;
        }

        .menu li a {
            @apply block!;
        }
    }

    .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        @apply font-semibold;
    }

    .prose :where(h2, h3, h4, h5, h6) {
        @apply scroll-mt-20 relative;
    }

    .prose :where(h2, h3, h4, h5, h6) > .anchor {
        @apply absolute text-primary! no-underline!;
        @apply opacity-0 transition-opacity duration-150;
        @apply text-center;

        left: -1.5rem;
        width: 1.5rem;

        top: 50%;
        transform: translateY(-50%);
    }

    .prose :where(h2, h3, h4, h5, h6):hover > .anchor,
    .prose :where(h2, h3, h4, h5, h6) > .anchor:focus-visible {
        @apply opacity-60;
    }

    .prose :where(h2, h3, h4, h5, h6):target > .anchor,
    .prose :where(h2, h3, h4, h5, h6) > .anchor:hover {
        @apply opacity-100;
    }

    .prose aside.admonition {
        @apply alert alert-soft alert-vertical mb-6 text-base;

        a {
            text-decoration: underline;
        }
    }

    .prose .admonition-title {
        @apply font-semibold uppercase;
    }

    .prose aside.note {
        @apply alert-info;
        --admonition-icon: "💡 ";
    }

    .prose aside.tip {
        @apply alert-success;
        --admonition-icon: "✅ ";
    }

    .prose aside.warning {
        @apply alert-warning;
        --admonition-icon: "⚠️ ";
    }

    .prose aside.caution {
        @apply alert-error;
        --admonition-icon: "🚨 ";
    }

    .prose aside.important {
        --admonition-icon: "📌 ";
    }

    .prose .admonition-title::before {
        content: var(--admonition-icon, "");
    }
}
