tr class=('opacity-50' unless user.enabled?)
  th= user.email_address
  td
    .badge class=user_badge_color_for_role(user.role)
      = User.human_enum_name(:role, user.role)

  td= l(user.created_at)
  td
    - if user.enabled?
      = status_icon :success
    - else
      = status_icon :error

  td
    .flex.items-center.justify-end.gap-2
      - if allowed_to?(:impersonate?, user)
        = button_to t('.logged_in_as'),
                    impersonate_admin_user_path(user),
                    class: 'btn btn-secondary btn-sm',
                    data: { turbo_confirm: t('.logged_in_as_confirm_html', email: user.email_address) }

      = render 'actions', user: user
