= link_to '#',
          class: 'flex items-center gap-2',
          title: t('print'),
          data: { \
            controller: 'printer',
            action: 'click->printer#print' \
          } do
  = lucide_icon 'printer',
                class: (icon_klass if defined?(icon_klass))
  = yield
  == hotkey_label(['ctrl', 'p'], size: 'xs')
