= mail_to "",
          subject: subject,
          body: body,
          class: 'flex items-center gap-2',
          title: t('share_by_email'),
          data: { \
            controller: 'hotkey', \
            action: "keydown.s@document->hotkey#click" \
          } do
  = lucide_icon 'mail',
                class: (icon_klass if defined?(icon_klass))
  = yield
  == hotkey_label('s', size: 'xs')
