article#article
  header.hero.bg-fixed.bg-banner-ecosystem
    .hero-overlay
    .hero-content.text-center
      .max-w-xl.space-y-3
        h1.text-3xl.font-bold= t('.title')

        - if logged_in? && allowed_to?(:index?, EcosystemItem, namespace: Admin)
          = edit_link_to admin_ecosystem_items_path, hotkey: true

        p= t('.description')

        = image_tag icon_by_coin('monero'), class: 'w-20 mx-auto hover:scale-110 motion-safe:transition-transform'

  .article-body.max-w-3xl
    #ecosystem.mb-3.space-y-2
      = render @ecosystem_items
