doctype html
html lang=I18n.locale
  head
    = seo_meta_tags(@pagy)
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head
    = turbo_refreshes_with method: :morph, scroll: :preserve

    = stylesheet_link_tag 'https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.css'
    = stylesheet_link_tag 'https://unpkg.com/leaflet-gesture-handling@1.2.2/dist/leaflet-gesture-handling.min.css'
    = stylesheet_link_tag 'https://unpkg.com/leaflet.fullscreen/dist/Control.FullScreen.css'
    = stylesheet_link_tag 'https://unpkg.com/@kristjan.esperanto/leaflet.markercluster@3/dist/MarkerCluster.css'
    = stylesheet_link_tag 'https://unpkg.com/@kristjan.esperanto/leaflet.markercluster@3/dist/MarkerCluster.Default.css'

    = stylesheet_link_tag :app

    = render 'initial_javascript'
    = javascript_importmap_tags

    = debugbar_head if defined?(Debugbar)

    script type="application/ld+json"
      == schema_dot_org_organization

  body.max-w-screen-3xl.mx-auto
    = render 'header', projects: @projects

    main
      = yield

    = render 'footer', projects: @projects, contacts: @contacts

    = turbo_frame_tag :announcements, src: announcements_path

    #modal
    = render 'modal', id: 'turbo-confirm'
    = render 'modal_help'
    = render 'modal_about'

    = render 'ribbon' if FeatureFlag.enabled?(:ribbon)

    = turbo_stream_from :flashes
    = turbo_stream_from [:flashes, I18n.locale]

    = render 'debugbar' if defined?(Debugbar)
